@{
    ViewData["Title"] = "Home Page";
}

<img class="img-thumbnail justify-content-center col-md-12" src="http://www.fit-n-wise.com/wp-content/uploads/sports-med-header.jpg" />

<div class="text-center">
    <h1 class="display-4">Welcome to SportsBet247</h1>
    <p>Gambling can be addictive, please play responsibly.</p>
</div>
